.cover__link {
    text-decoration: none;
    color: #fff;
    width: 100%;
    z-index: 1;
    position: relative;
    display: flex;
}

/* данный элемент лишней оберткой не считаю, без него верстка ломается */