.cover__link {
    text-decoration: none;
    color: #fff;
    width: 100%;
    z-index: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-self: center;
    align-items: center;
    text-align: center;
}