.intro__list {
    list-style-type: none;
    margin-top: 33px;
    padding: 0;
    margin-bottom: 0;
}

@media screen and (min-width: 767px) and (max-width: 1023px) {
    .intro__list {
        max-width: 720px;
        margin-right: 24px;
        margin-left: 24px;
    }
  }
  
  @media screen and (max-width: 767px) {
    .intro__list {
        margin-right: 16px;
        margin-left: 16px;
    }
  }