.container-section-lead-intro {
    margin: 0 auto;
    max-width: 83%;
}

@media (max-width: 1024px) {
    .container-section-lead-intro {
        max-width: 90.8%;
    }
}

@media (max-width: 768px) {
    .container-section-lead-intro {
        max-width: 100%;
        margin-bottom: 88px;
    }
}
@media (max-width:320px) {
    .container-section-lead-intro {
        max-width: 320px;
        margin-bottom: 0px;
        flex-wrap: wrap;
        display: flex;
        flex-direction: column;
    }
}