.content {
    max-width: 1184px;
    background: #2a2c2f;
    margin: 0 auto;
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    color: #ffffff;
    padding-top: 28px;
    padding-bottom: 24px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}