.galery {
    display: grid;
    margin: 0 auto;
    margin-top: 92px;
    max-width: 100%;
    gap: 16px 16px;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    grid-template-rows: repeat(3, 1fr);
} 

@media (max-width: 1024px) {
    .galery {
        max-width: 928px;
        grid-gap: 14px;
        margin-top: 88px;
    }
}

@media (max-width: 768px) {
    .galery {
        max-width: 720px;
        grid-gap: 16px;
        margin-top: 88px;
    }
}

@media (max-width: 320px) {
    .galery {
        max-width: 288px;
        display: block;
        margin-bottom: 64px;
        margin-top: 64px;
    }
}