.galery {
    display: grid;
    margin: 0 auto;
    max-width: 1184px;
    gap: 16px 16px;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    grid-template-rows: repeat(3, 1fr);
    margin-bottom: 92px;
} 

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .galery {
        max-width: 928px;
        grid-gap: 14px;
        padding: 0 48px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .galery {
        max-width: 720px;
        grid-gap: 16px;
        padding: 0 24px;
        margin-bottom: 88px;
    }
}

@media screen and (max-width: 767px) {
    .galery {
        padding: 0 16px;
        grid-gap: 12px;
        margin-bottom: 64px;
    }
}