.place__paragraph {
    font-size: 18px;
    line-height: 1.63;
    margin: 0px;
    margin-bottom: 26px;
}

.place__paragraph:last-child {
    margin-bottom: 0px;
}

@media (max-width: 975px) {
    .place__paragraph {
        font-size: 16px;
    }
}

@media (max-width: 713px) {
    .place__paragraph {
        max-width: 100%;
        margin: 0;
        margin-bottom: 25px;
    }
    .place__paragraph:last-child {
        margin-bottom: 0px;
    }
}

@media (max-width: 320px) {
    .place__paragraph {
        max-width: 288px;
        margin-bottom: 25px;
    }
    .place__paragraph:last-child {
        margin-bottom: 0px;
    }
}