.cover__title {
    max-width: 560px;
    font-size: 72px;
    font-weight: 900;
    line-height: 1.05;
    margin: 0 0 32px 0;
    padding: 0;
    text-align: center;
    color: #fff;
}

@media (min-width: 1024px) and (max-width: 1279px) {
    .cover__title {
      max-width: 560px;
    }  
  }

@media (max-width: 767px) {
    .cover__title {
        font-size: 32px;
        line-height: 1.06;
        margin: 0 16px 16px 16px;
    }
}