.place {
    display: grid;
    row-gap: 48px;
    column-gap: 40px;
    grid-template-columns: 460px 1fr;
    grid-template-areas: 
    "title url"
    "image paragraph";
    margin-bottom: 80px;
}

.place:last-child {
    margin-bottom: 0px;
}

@media (min-width: 1024px) and (max-width: 1279px) {
    .place {
        grid-template-columns: 440px 1fr;
        grid-gap: 48px 32px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .place {
        grid-template-columns: 340px 1fr;
        grid-gap: 48px 28px;
        margin-bottom: 73px;
    }
}

@media (max-width: 767px) {
    .place {
        margin-bottom: 50px;
        grid-gap: 32px;
        grid-template-columns: minmax(min-content, max-content);
        display: block;
    }
}