.cover__content {
    display: flex;
    position: relative;
    align-self: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    max-width: 560px;
    z-index: 3;
    flex-wrap: wrap;
    margin: 0 auto;
}

@media (max-width: 425px) {
    .cover__content {
        max-width: 288px;
    }
}